html {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #9791f3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.nav-item {
  font-size: 20px;
  font-style: oblique;
  margin: 0 15px;
}

.nav-item a {
  text-decoration: none;
  transition-duration: 0.3s;
}

.nav-item a:hover{
  color: #81f733;
}