html {
  height: 100%;
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #35995F; /* Verde principal de la paleta */
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff; /* Texto blanco para contrastar con el fondo */
}

.nav-link {
  font-size: 18px;
  font-style: oblique;
  color: #ffffff; /* Texto blanco para contrastar con el fondo */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #CBFFBF; /* Verde claro de la paleta al pasar el mouse */
}

/* Formulario de Contacto */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* Estilo de formulario */
form {
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #35995F; /* Verde principal de la paleta */
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #35995F; /* Verde principal de la paleta */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e7d32; /* Verde más oscuro al pasar el mouse */
}

/* Footer */
footer {
  background-color: #ED7FFF; /* Color de la paleta para el footer */
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e9ecef;
  margin-top: 40px;
}

footer p,
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000000; /* Texto negro para contrastar con el fondo */
}

footer a {
  color: #35995F; /* Verde principal de la paleta */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

/* Ajustes a la sección de contacto */
form input, form textarea {
  border-color: #84CCA2; /* Verde claro de la paleta */
}

form button {
  background-color: #35995F; /* Verde principal de la paleta */
}

form button:hover {
  background-color: #2e7d32; /* Verde más oscuro al pasar el mouse */
}